.title-panel {
    background-image: url("bg.jpg");
    width:20%;
    display: flex;
}

.title-card {
    display: flex;
    height: 20%;
    align-self: center;
    justify-content: center;
    background-color: black;

}

.title-card-text {
    color:white;
}

.container {
    display: flex;
    height:100vh;
    width: 100vw;
    align-self: center;
    justify-content: center;
    background-color: black;
}

.form-panel {
    background-color: lightgray;
    width: 40%;
    box-sizing: border-box;
    
}

form {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;


}

.form-columns {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.right-col,
.left-col {
    flex: 1;
    padding:10px;
    box-sizing: border-box;
    max-width: 45%;
    margin-left: 5px;
    margin-right: 5px;


}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


