.title-panel {
    background-image: url("bg.jpg");
    width:20%;
    display: flex;
}

.title-card {
    display: flex;
    height: 20%;
    align-self: center;
    justify-content: center;
    background-color: black;

}

.title-card-text {
    color:white;
}

.container {
    display: flex;
    height:100vh;
    width: 100vw;
    align-self: center;
    justify-content: center;
    background-color: black;
}

.form-panel {
    background-color: lightgray;
    width: 30%;
}

form {
    background-color: white;
    display: flex;
}